

{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="cta-breeze" class="cta">
  <div class="container">

    <div class="text-center">
      <img src="{% static 'assets/dentoface.png' %}" alt="dentoface" class="img-fluid portfolio-img">
    </div>


<main id="main">

    <!-- ======= Breadcrumbs ======= -->


<main class="main portfolio-page">

    <div class="container">
      <div class="row">

       
        <div class="col-lg-8">

            <!-- Blog Details Section -->
            <section id="blog-details" class="blog-details section">
              <div class="container">
  
                <article class="article">
  
                  <div class="post-img">
                    <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                  </div>
  
  
                  <div class="content">
 


                    <div class="container mini-portfolio">
                      <div class="row text-center mini-photo-row">
                        <div class="col-md-4">
                          <img src="{% static 'assets/dentoface12.jpg' %}" class="img-fluid img-thumbnail" alt="dentoface12" style="height: auto; width: 300px;">
                        </div>
                        <div class="col-md-4">
                          <img src="{% static 'assets/dentoface2.jpg' %}" class="img-fluid img-thumbnail" alt="dentoface2" style="height: auto; width: 300px;">
                        </div>
                        <div class="col-md-4">
                          <img src="{% static 'assets/dentoface3.jpg' %}" class="img-fluid img-thumbnail" alt="dentoface3" style="height: auto; width: 300px;">
                        </div>
                      </div>
                      <div class="row text-center">
                        <div class="col-md-4">
                          <img src="{% static 'assets/dentoface4.jpg' %}" class="img-fluid img-thumbnail" alt="dentoface4" style="height: auto; width: 300px;">
                        </div>
                        <div class="col-md-4">
                          <img src="{% static 'assets/dentoface5.jpg' %}" class="img-fluid img-thumbnail" alt="dentoface5" style="height: auto; width: 300px;">
                        </div>
                        <div class="col-md-4">
                          <img src="{% static 'assets/dentoface6.jpg' %}" class="img-fluid img-thumbnail" alt="dentoface6" style="height: auto; width: 300px;">
                        </div>

                      </div>

                      <div class="row text-center">
                        <div class="col-md-4">
                          <img src="{% static 'assets/dentoface7.jpg' %}" class="img-fluid img-thumbnail" alt="dentoface7" style="height: auto; width: 300px;">
                        </div>
                        <div class="col-md-4">
                          <img src="{% static 'assets/dentoface8.jpg' %}" class="img-fluid img-thumbnail" alt="dentoface8" style="height: auto; width: 300px;">
                        </div>
                        <div class="col-md-4">
                          <img src="{% static 'assets/dentoface9.jpg' %}" class="img-fluid img-thumbnail" alt="dentoface9" style="height: auto; width: 300px;">
                        </div>

                      </div>
                      <div class="row text-center">
                        <div class="col-md-4">
                          <img src="{% static 'assets/dentoface10.jpg' %}" class="img-fluid img-thumbnail" alt="dentoface10" style="height: auto; width: 300px;">
                        </div>
                        <div class="col-md-4">
                          <img src="{% static 'assets/dentoface11.jpg' %}" class="img-fluid img-thumbnail" alt="dentoface11" style="height: auto; width: 300px;">
                        </div>


                      </div>
                    </div>
  
                  </div><!-- End post content -->
  
                  <div class="meta-bottom">
                    <i class="bi bi-folder"></i>
                    <ul class="cats">
                      <li>Business</li>
                    </ul>
  
                    <i class="bi bi-tags"></i>
                    <ul class="tags">
                      <li>Partners</li>
                      <li>Social Media Management</li>
                      <li>Designs</li>
                    </ul>
                  </div><!-- End meta bottom -->
  
                </article>
  
              </div>
            </section><!-- /Blog Details Section -->
  
          </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container">
          <!-- Tags Widget -->
          <div class="tags-widget widget-item">
                <div class="section-title-2">
                  <h1>Social </span></br>  Media</span></h1> 
                </div>
          </div><!--/Tags Widget -->


            <!-- Tags Widget -->
            <div class="tags-widget widget-item">
              

              <h3 class="widget-title">Tags</h3>
              <ul>
                <li><a href="#">Social Media</a></li>
              </ul>

            </div><!--/Tags Widget -->

          </div>

        </div>

      </div>
    </div>

  </main>

</div>
</section>

  {% endblock %}