

{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="product_slide" class="product_slide" style="background: #55bdff;">
    <br/><br/><br/><br/><br/><br/>
</div>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->


<main class="main">

    <div class="container">
      <div class="row">

        <div class="col-lg-8">
            
          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
        
            <div class="container">
              <article class="article">
                <div class="content">
                  <section id="faq" class="faq">
                    <div class="container">
              
                      <div class="section-title">
                        <h3>Frequently Asked <span>Questions</span></h3>
                      </div>
              
                      <ul class="faq-list">
              
                        <li>
                          <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What services does your social media agency offer? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                          <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                            <p>
                              We offer a wide range of services including social media management, content creation, community engagement, social media advertising, influencer marketing, analytics and reporting, and more.
                            </p>
                          </div>
                        </li>
              
                        <li>
                          <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How can your agency help my business grow on social media? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                          <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                              Our agency employs strategic planning, creative content creation, targeted advertising campaigns, and engagement tactics to increase your brand's visibility, audience engagement, and ultimately drive conversions and growth on social media platforms.
                            </p>
                          </div>
                        </li>
              
                        <li>
                          <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">How do you determine the best social media strategy for my business? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                          <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                              We conduct a thorough analysis of your business goals, target audience, industry trends, and competitors to tailor a customized social media strategy that aligns with your objectives and maximizes your ROI.
                            </p>
                          </div>
                        </li>
              
                        <li>
                          <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Can you handle social media platforms other than Facebook and Instagram? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                          <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                              Yes, we specialize in managing various social media platforms including but not limited to Facebook, Instagram, Twitter, LinkedIn, Pinterest, YouTube, TikTok, and more. We tailor our strategies to each platform to ensure optimal results.
                            </p>
                          </div>
                        </li>
              
                        <li>
                          <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">What sets your agency apart from others in the industry? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                          <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                              Our agency is driven by a team of experienced social media experts who stay updated with the latest trends, algorithms, and best practices in the industry. We prioritize creativity, transparency, and client satisfaction, delivering personalized solutions that yield tangible results.
                            </p>
                          </div>
                        </li>
              
                        <li>
                          <div data-bs-toggle="collapse" href="#faq6" class="collapsed question"> How do I get started with your agency? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                          <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                            <p>
                              Getting started with our agency is simple! Just reach out to us through our website or contact information provided, and we'll schedule a consultation to discuss your business needs, goals, and how we can help you achieve success on social media.
                            </p>
                          </div>
                        </li>
              
                      </ul>
              
                    </div>
                  </section>

                </div><!-- End post content -->

                <div class="meta-bottom">
                  <i class="bi bi-folder"></i>
                  <ul class="cats">
                    <li>Help</li>
                  </ul>

                  <i class="bi bi-tags"></i>
                  <ul class="tags">
                    <li>Help</li>
                    <li>Inquirues</li>
                    <li>Questions</li>
                  </ul>
                </div><!-- End meta bottom -->

              </article>

            </div>
          </section><!-- /Blog Details Section -->

          

          

        </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container">

            <!-- Blog Author Widget -->
            <!-- <div class="blog-author-widget widget-item">

              <div class="d-flex flex-column align-items-center">
                <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
                <h4>Jane Smith</h4>
                <div class="social-links">
                  <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                  <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                  <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                  <a href="https://instagram.com/#"><i class="biu bi-linkedin"></i></a>
                </div>

                <p>
                  Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                </p>

              </div> -->


            

            

            <!-- Tags Widget -->
            <div class="tags-widget widget-item">

              <h3 class="widget-title">Tags</h3>
              <ul>
                <li><a href="#">Social Media</a></li>
                <li><a href="#">Grow</a></li>
                <li><a href="#">Strategy</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Launching</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>

            </div><!--/Tags Widget -->

          </div>

        </div>

      </div>
    </div>

  </main>

  {% endblock %}