{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- ======= Header ======= -->
  <section id="hero">
    <div class="hero-container">
      <video autoplay muted id="video-bg">
        <source src="{% static 'assets/background.mp4' %}" type="video/mp4">
      </video>
      <div class="hero-container">
        <h3>Welcome to <strong>iSocial24</strong></h3>
        <h1>Crafting Digital Experience</h1>
        <h2>Turning Ordinary into Extraordinary: Boost Your Online Presence with Our Social Media Expertise!</h2>
        <a href="#pricing" class="btn-get-started scrollto">Get Started</a>
      </div>
    </div>
  </section>

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <!-- <h2>About</h2> -->
          <h3>Learn More <span>About Us</span></h3>
          <p>Your Social Media Storytellers</p>
        </div>

        <div class="row content">
          <div class="col-lg-6 d-flex align-items-center">
            <div>
            <p>
              We are a dynamic team of creative minds, strategists, and digital enthusiasts who thrive on transforming ideas into impactful digital experiences. Our journey began with a vision to revolutionize the digital landscape, and today, we stand tall as pioneers in crafting compelling narratives that resonate with audiences worldwide.
            </p>
            <a href="{% url 'about' %}" class="btn-learn-more">Learn More</a>
          </div>
        </div>
          <div class="col-lg-6 pt-4 pt-lg-0 d-flex justify-content-center ">
            <img src="{% static 'assets/aboutus.png' %}" class="img-fluid partner-img aboutus-img" alt="aboutus">
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
          <div class="container">
    
            <div class="section-title">
              <!-- <h2>Clients</h2> -->
              <h3>We're proud of our <span>Clients</span></h3>
              <p>We take pride in representing our valued clients with integrity and dedication</p>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 partner-img-container">  
                <img src="{% static 'assets/baherlogo.png' %}" class="img-fluid partner-img" alt="baherrestlogo">   
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 partner-img-container">  
                <img src="{% static 'assets/furnbeirutlogo.png' %}" class="img-fluid partner-img" alt="furnbeirutlogo">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 partner-img-container">  
                <img src="{% static 'assets/dentoface.png' %}" class="img-fluid partner-img" alt="dentoface">
              </div>           
            </div>
            </div>
    
          </div>
        </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
        <div class="section-title">
          <h3>We do offer awesome <span>Services</span></h3>
          <p>Empowering individuals and businesses to enhance their online presence and engagement through comprehensive Social Management Services</p>
        </div>
    
        <!-- Carousel Version for Larger Screens -->
        <div id="servicesCarousel" class="carousel carousel-dark slide d-none d-lg-block" data-bs-interval="false">
          <div class="carousel-inner">
            <!-- First Slide -->
            <div class="carousel-item active">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box sm-manage">
                    <h4 class="title"><a href="">Social Media Management</a></h4>
                    <p class="description">The most brilliant team will help you empower your online presence</p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box c-create">
                    <h4 class="title"><a href="">Content Creation</a></h4>
                    <p class="description">Innovative team dedicated to inspire your audience</p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box seo">
                    <h4 class="title"><a href="">Search Engine Optimization</a></h4>
                    <p class="description">Analyst aimed to boost your recognition</p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box web-design">
                    <h4 class="title"><a href="">Web Development and Design</a></h4>
                    <p class="description">Superheroes that bring ideas to reality</p>
                  </div>
                </div>
              </div>
            </div>
    
            <!-- Second Slide -->
            <div class="carousel-item">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box ppc">
                    <h4 class="title"><a href="">Pay Per Click</a></h4>
                    <p class="description">PPC Strategies That Drive Clicks and Conversions</p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box branding">
                    <h4 class="title"><a href="">Branding</a></h4>
                    <p class="description">Amplifying Your Brand Through Genuine Connections</p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box graphicdesign">
                    <h4 class="title"><a href="">Graphic Design</a></h4>
                    <p class="description">Designs That Captivate and Inspire</p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box in-marketing">
                    <h4 class="title"><a href="">Influencer Marketing</a></h4>
                    <p class="description">Connecting Brands with Authentic Voices</p>
                  </div>
                </div>
              </div>
            </div>


            <!-- Slide 3 -->
            <div class="carousel-item">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box google-ads">
                    <h4 class="title"><a href="">Google Ads</a></h4>
                    <p class="description">Maximizing Your Reach with Targeted Precision</p>
                  </div>
                </div>
            
              </div>
            </div>
          </div>
    
          <!-- Carousel Controls -->
          <a class="carousel-control-prev" href="#servicesCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#servicesCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
    
        <!-- Non-Carousel Version for Mobile -->
        <div class="d-block d-lg-none">
          <div class="row">
            <div class="col-12 d-flex align-items-stretch mb-4 d-flex justify-content-center">
              <div class="icon-box sm-manage">
                <h4 class="title"><a href="">Social Media Management</a></h4>
                <p class="description">The most brilliant team will help you empower your online presence</p>
              </div>
            </div>
            <div class="col-12 d-flex align-items-stretch mb-4 d-flex justify-content-center">
              <div class="icon-box c-create">
                <h4 class="title"><a href="">Content Creation</a></h4>
                <p class="description">Innovative team dedicated to inspire your audience</p>
              </div>
            </div>
            <div class="col-12 d-flex align-items-stretch mb-4 d-flex justify-content-center">
              <div class="icon-box seo">
                <h4 class="title"><a href="">Search Engine Optimization</a></h4>
                <p class="description">Analyst aimed to boost your recognition</p>
              </div>
            </div>
            <div class="col-12 d-flex align-items-stretch mb-4 d-flex justify-content-center">
              <div class="icon-box web-design">
                <h4 class="title"><a href="">Web Development and Design</a></h4>
                <p class="description">Superheroes that bring ideas to reality</p>
              </div>
            </div>
            <div class="col-12 d-flex align-items-stretch mb-4 d-flex justify-content-center">
              <div class="icon-box sm-manage">
                <h4 class="title"><a href="">Graphic Design</a></h4>
                <p class="description">Creative designs that capture attention</p>
              </div>
            </div>
            <div class="col-12 d-flex align-items-stretch mb-4 d-flex justify-content-center">
              <div class="icon-box c-create">
                <h4 class="title"><a href="">Email Marketing</a></h4>
                <p class="description">Effective campaigns to boost engagement</p>
              </div>
            </div>
            <div class="col-12 d-flex align-items-stretch mb-4 d-flex justify-content-center">
              <div class="icon-box seo">
                <h4 class="title"><a href="">Brand Strategy</a></h4>
                <p class="description">Strong branding for better visibility</p>
              </div>
            </div>
            <div class="col-12 d-flex align-items-stretch mb-4 d-flex justify-content-center">
              <div class="icon-box web-design">
                <h4 class="title"><a href="">App Development</a></h4>
                <p class="description">Functional and user-friendly mobile apps</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <!-- End Services Section -->


    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p>Unlock the potential within you and turn your dreams into tangible achievements! Join us on this journey, and together, let's transform aspirations into reality</p>
          <a class="cta-btn" href="{% url 'contact' %}">Call To Action</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    

    <!-- ======= Testimonial Section ======= -->
    <section id="services" class="services" data-bs-ride="carousel">
      <div class="container">

        <div class="section-title">
          <!-- <h2>F.A.Q</h2> -->
          <h3>What do they say <span>About Us</span></h3>
        </div>

        <div id="testimonialCarousel" class="carousel carousel-testimonial carousel-dark slide" data-bs-ride="carousel" data-bs-interval="5000">
          <div class="carousel-inner">
            <div class="item carousel-item carousel-testimonial-item active">
              <div class="img-box"><img src="https://i.ibb.co/d5DY64w/img1.jpg" alt=""></div>
              <p class="testimonial">Fast, reliable, and incredibly professional. They helped us meet tight deadlines without compromising on quality. Truly outstanding service!</p>
              <p class="overview"><b>Jennifer Smith</b>, Office Worker</p>
            </div>
            <div class="item carousel-item carousel-testimonial-item">
              <div class="img-box"><img src="https://i.ibb.co/5FF1vqz/img2.jpg" alt=""></div>
              <p class="testimonial">We’ve been collaborating with this company for over three years. Their consistency and high standards are unmatched. They are more than just a provider; they’re a trusted partner</p>
              <p class="overview"><b>Dauglas McNun</b>, Financial Advisor</p>
            </div>
          </div>
    
          <!-- Carousel Controls -->
          <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
  </section>



  </main><!-- End #main -->

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  

  <script>
    // Check if button is pressed 
    $(document).on('click', '.btn-buy', function(e){
      e.preventDefault();
      var product_id = $(this).val();
      $.ajax({
        type: 'POST',
        url: "{% url 'cart_add' %}",
        data:{
          product_id: product_id,
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post'
        },
        success: function(json){
          // console.log(json.qty);
          document.getElementById("cart_quantity").textContent = json.qty;
          
        },
        error: function(xhr, errmsg, err){
        }
      });
    })
  </script>
        
{% endblock %}