{% load static %}
<header id="header" class="fixed-top header-scrolled">
  <div class="container d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo">
          <img src="{% static 'assets/isociallogo.png' %}" alt="Logo" class="img-fluid">
      </a>
      <div class="navbar--icon">        <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 319.69 195.94">
        <g>
          <path d="M131.94 46.43 L131.94 149.52 H154.57 L154.57 46.43 H131.94 Z" fill="white"></path>
          <path d="M171.81 46.43 L171.81 149.52 H194.44 L194.44 46.43 H171.81 Z" fill="white"></path>
          <path d="M212.75 46.43 L212.75 149.52 H235.38 L235.38 46.43 H212.75 Z" fill="white"></path>
        </g>
      </svg></div>
      <div class="nav--open close sticky">
        <div class="nav--open-icon"><i class="fas fa-times-circle"></i></div>
        <div class="nav--open-menu">
          <a class="nav-link scrollto" href="{% url 'home' %}#hero">Home</a>
          <a class="nav-link scrollto" href="{% url 'home' %}#about">About</a>
          <a class="nav-link scrollto" href="{% url 'home' %}#services">Services</a>
          <a class="nav-link scrollto" href="{% url 'contact' %}#contact">Contact</a>
        </div>
      </div>
      <div class="nav--updated"></div>
  </div>
</header>
