

{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="cta-wingsanddrinks" class="cta cta-wingsanddrinks">
  <div class="container">

    <div class="text-center">
      <img src="{% static 'assets/wingsanddrinks.png' %}" alt="funkywraplogo" class="img-fluid portfolio-img">
    </div>


<main id="main">

    <!-- ======= Breadcrumbs ======= -->


<main class="main portfolio-page">

    <div class="container">
      <div class="row">

       
        <div class="col-lg-8">

            <!-- Blog Details Section -->
            <section id="blog-details" class="blog-details section">
              <div class="container">
  
                <article class="article">
  
                  <div class="post-img">
                    <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                  </div>
  
                  <!-- <h2 class="title">BRANDING AND DESIGN</h2> -->
  
                  <div class="content">
                    <!-- <p>
                        Welcome to iSocial24, your premier partner in navigating the dynamic world of social media. Founded in 2023, iSocial24 is a forward-thinking agency dedicated to helping businesses and brands thrive in the digital landscape.

                    </p> -->
  
                   
  
                    <!-- <blockquote>
                      <p>
                        BRANDING AND DESIGN
                      </p>
                    </blockquote> -->
  
                    <div id="carouselExampleIndicators" class="carousel slide">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="{% static 'assets/wingsanddrinks1.jpg' %}" class="d-block w-100" alt="wingsanddrinks1">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'assets/wingsanddrinks2.jpg' %}" class="d-block w-100" alt="wingsanddrinks2">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'assets/wingsanddrinks3.jpg' %}" class="d-block w-100" alt="wingsanddrinks3">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'assets/wingsanddrinks4.jpg' %}" class="d-block w-100" alt="wingsanddrinks4">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'assets/wingsanddrinks6.jpg' %}" class="d-block w-100" alt="wingsanddrinks6">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'assets/wingsanddrinks7.jpg' %}" class="d-block w-100" alt="wingsanddrinks7">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'assets/wingsanddrinks9.jpg' %}" class="d-block w-100" alt="wingsanddrinks9">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'assets/wingsanddrinks10.jpg' %}" class="d-block w-100" alt="wingsanddrinks10">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'assets/wingsanddrinks11.jpg' %}" class="d-block w-100" alt="wingsanddrinks11">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'assets/wingsanddrinks12.jpg' %}" class="d-block w-100" alt="wingsanddrinks12">
                        </div>

                        <div class="carousel-item">
                          <img src="{% static 'assets/wingsanddrinks14.jpg' %}" class="d-block w-100" alt="wingsanddrinks14">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'assets/wingsanddrinks15.jpg' %}" class="d-block w-100" alt="wingsanddrinks15">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>


                    <div class="container mini-portfolio">
                      <!-- Row 1 -->
                      <div class="row text-center mb-3">
                          <div class="col-12">
                              <img src="{% static 'assets/wingsanddrinks13.jpg' %}" class="img-fluid img-thumbnail" alt="wingsanddrinks17" style="height: auto; width: 900px;">
                          </div>
                      </div>
                      <!-- Row 2 -->
                      <div class="row text-center mb-3">
                          <div class="col-12">
                              <img src="{% static 'assets/wingsanddrinks16.jpg' %}" class="img-fluid img-thumbnail" alt="wingsanddrinks16" style="height: auto; width: 900px;">
                          </div>
                      </div>
                      <!-- Row 3 -->
                      <div class="row text-center mb-3">
                          <div class="col-12">
                              <img src="{% static 'assets/wingsanddrinks5.jpg' %}" class="img-fluid img-thumbnail" alt="wingsanddrinks18" style="height: auto; width: 900px;">
                          </div>
                      </div>
                      <!-- Row 4 -->
                      <div class="row text-center mb-3">
                          <div class="col-12">
                              <img src="{% static 'assets/wingsanddrinks19.jpg' %}" class="img-fluid img-thumbnail" alt="wingsanddrinks19" style="height: auto; width: 900px;">
                          </div>
                      </div>
                
                  </div>

  
                  </div><!-- End post content -->
  
                  <div class="meta-bottom">
                    <i class="bi bi-folder"></i>
                    <ul class="cats">
                      <li>Business</li>
                    </ul>
  
                    <i class="bi bi-tags"></i>
                    <ul class="tags">
                      <li>Partners</li>
                      <li>Brand Identity</li>
                      <li>Designs</li>
                    </ul>
                  </div><!-- End meta bottom -->
  
                </article>
  
              </div>
            </section><!-- /Blog Details Section -->
  
          </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container">
          <!-- Tags Widget -->
          <div class="tags-widget widget-item">
                <div class="section-title-2">
                  <h1>Brand </br>  Identity</span></h1> 
                </div>
          </div><!--/Tags Widget -->


            <!-- Tags Widget -->
            <div class="tags-widget widget-item">
              

              <h3 class="widget-title">Tags</h3>
              <ul>
                <li><a href="#">Brand Identity</a></li>
              </ul>

            </div><!--/Tags Widget -->

          </div>

        </div>

      </div>
    </div>

  </main>

</div>
</section>

  {% endblock %}